* {
    border: 0;
    margin: 0;
    font-family: 'VT323', monospace;
}

#mainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #FDC111;
}

#mainContainer #dashboard {
    width: 20%;
    height: fit-content;
    background-color: #2E4591;
    box-shadow: 2px 0px 5px black;
    padding: 15px;
}

#mainContainer #dashboard h2 {
    color: #fff;
    font-size: 33px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 3px black;
    letter-spacing: 2px;
}

#mainContainer #dashboard #pokeForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#mainContainer #dashboard #pokeForm #inputPoke {
    width: 100%;
    height: 20px;
    font-size: 20px;
    padding: 5px;
    color: black;
    border-radius: 5px;
}

#mainContainer #dashboard #pokeForm #btnPoke {
    width: fit-content;
    height: fit-content;
    background-color: #FDC111;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    align-self: center;
}

#mainContainer #dashboard #pokeForm #btnPoke:hover {
    cursor: pointer;
    box-shadow: 2px 2px 3px black;
}

#mainContainer #dashboard #pokeForm #btnPoke:active {
    background-color: #DC0A2D;
    color: #fff;
}

#dashboard #pokeCards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;

}

#dashboard #pokeCards .pokemon {
    background-color: #FDC111;
    margin-bottom: 10px;
    width: 40%;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    transition: 100ms all;
}

#dashboard #pokeCards .pokemon:hover{
    cursor: pointer;
    box-shadow: 2px 3px 3px black;
}

#dashboard #pokeCards .pokemon:active{
    color: #fff;
    background-color: #DC0A2D;
}

#mainContainer #pokedex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainContainer #pokedex #header {
    width: 100%;
    margin: 30px 0px;
    text-align: center;
}

#mainContainer #pokedex #header h1 {
    color: #fff;
    text-shadow: 3px 3px 4px #000;
    font-size: 100px;
}

#mainContainer #pokedex #header p {
    color: #fff;
    text-shadow: 3px 3px 1px #000;
    font-size: 40px;    
}

#mainContainer #pokedex #boxPokedex {
    display: flex;
    flex-direction: row;
}

#mainContainer #pokedex #boxMain {
    position: relative;
    width: 400px;
    height: 600px;
    background-color: #DC0A2D;
    border-radius: 20px;
    
}

#mainContainer #pokedex #boxMain #borderScreen {
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: #AEB0B4;
    border-radius: 8px;
    border-bottom-left-radius: 40px;
    border: 3px solid black;
    left: 20px;
    top: 80px;
}
#mainContainer #pokedex #boxMain #borderScreen #screen{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    height: 230px;
    background-color: #fff;
    border-radius: 8px;
    border: 3px solid black;
    left: 20px;
    top: 20px;
}

#mainContainer #pokedex #boxMain #borderScreen #screen #pokeName {
    font-size: 35px;
}

#mainContainer #pokedex #boxMain #borderScreen #screen #pokeImg{
    width: 190px;
}

#mainContainer #pokedex #boxMainGraph {
    position: relative;
    width: 400px;
    height: 600px;
    background-color: #DC0A2D;
    border-radius: 20px;
}

#boxMainGraph #borderScreenGraph {
    position: absolute;
    width: 350px;
    height: 430px;
    background-color: #AEB0B4;
    border-radius: 8px;
    border: 3px solid black;
    left: 20px;
    top: 80px;
}

#boxMainGraph #borderScreenGraph #screenGraph {
    position: absolute;
    max-width: 310px;
    min-height: 380px;
    background-color: #fff;
    border-radius: 8px;
    border: 3px solid black;
    left: 18px;
    top: 18px;
}